@import 'normalize'

.main-header
    background #16210b
    color white
    padding 1em
    text-align center

    h1
        margin 0

    h2
        font-size 1rem
        font-weight normal

.card
    position relative
    text-align center
    background-size cover
    color white
    height 30vh
    padding .4em
    width 100%

    &[data-ciudad="valencia"]
        background-image url(../img/paisaje.jpg)

    &--mv
        background-image url(../img/mv.jpg)

    &__title
        background white
        color gray
        font-size 2rem
        margin 0
        text-align center

    &__date
        background yellow
        color gray
        font-size .7rem
        margin 0
        text-align center

@media screen and (max-width 400px)
    .card
        background-position center

        &__info
            background black
            left .4em
            position absolute
            bottom .4em

        &__image
            text-align center
            display block

        &__temp
            display block
            font-size 3rem
            line-height 1;

        &__maxt::before
            content "Max "

        &__mint::before
            content "Min "

    .main-header
        background olive
