@import 'normalize'

/*
* Reiniciamos el estilo de los botones para iOS
*/
button
html input[type="button"]
input[type="reset"]
input[type="submit"]
    -webkit-appearance none

// Botones
.btn
    background-color  #ff4842
    border none
    border-radius: 1px
    color white
    cursor pointer
    display inline-block
    font-size: .8rem
    font-weight: bold
    line-height 1
    margin 0
    margin-left 1px
    padding 1em
    text-align center
    vertical-align middle
    white-space:nowrap

    &:hover
        text-decoration none

    &:active
    &:focus
        outline none

.main-header
    background #16210b
    color white
    padding 1em
    text-align center

    h1
        margin 0

    h2
        font-size 1rem
        font-weight normal

// SEARCH

.search
    display flex
    font-size 3rem
    padding 0

    &__text
        width 75%
        font-size 1rem

.card
    background #eaeaea
    background-position center
    background-size cover
    box-sizing border-box
    color white
    height 30vh
    margin-bottom .5em
    padding 1.5em
    position relative
    text-align center
    text-shadow 0 0 3px black
    width 100vw

    &__title
        margin 0
        text-align center

    &__time
        font-size .7rem
        margin 0
        text-align center

        &::after
        &::before
            content " - "

    &__info
        bottom .4em
        font-size .7rem
        left .4em
        position absolute
        text-align center

    &__image
        display block

    &__maxt
        color #37b948
        text-shadow none

        &::before
            content "max: "

        &::after
            content "°C"

    &__mint
        color #37b948
        text-shadow none

        &::before
            content "min: "

        &::after
            content "°C"

    &__temp
        display block
        font-size 3rem
        line-height 1

        &::after
            content "°C"
            font-size 2rem

@media screen and (max-width 400px)
    .card
        background-position center

        &__info
            background black
            left .4em
            position absolute
            bottom .4em

        &__image
            text-align center
            display block

        &__temp
            display block
            font-size 3rem
            line-height 1;

        &__maxt::before
            content "Max "

        &__mint::before
            content "Min "

    .main-header
        background olive
