<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Platzi Weather" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <title>Platzi Weather</title>
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>

    <body>
        <header class="main-header">
            <h1>Platzi-Weather</h1>
            <h2>An awesome way to see how we burn by global warming</h2>
        </header>

        <main class="cards-group">
            <template id="template__city">
                <div class="card">
                    <header class="card__header">
                        <h3 class="card__tile"></h3>
                        <h4 class="card__time"></h4>
                    </header>

                    <div class="card__info">
                        <img class="card__image" src="" alt="">
                        <span class="card__maxt"></span>
                        <span class="card__mint"></span>
                        <spam class="card__temp"></spam>
                    </div>
                </div>
            </template>
        </main>
    </body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/index.js"></script>
</html>
