<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Platzi Weather" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <title>Platzi Weather</title>
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>

    <body>
        <header class="main-header">
            <h1>Platzi-Weather</h1>
            <h2>An awesome way to see how we burn by global warming</h2>
        </header>

        <div class="loader">Geolocalizando tu posición espera...</div>

        <form class="search" action="">
            <input class="search__text" data-input="cityAdd" type="text" placeholder="Agregar una nueva ciudad" />
            <input class="search__btn btn" data-button="add" type="submit" value="Añadir una nueva ciudad" />
            <button class="search__btn btn" data-saved-cities>Ver ciudades</button>
        </form>

        <main class="cards-group">
            <template id="template--city">
                <div class="card">
                    <header class="card__header">
                        <h3 data-city class="card__title"></h3>
                        <h4 data-time class="card__time"></h4>
                    </header>

                    <div class="card__info">
                        <img data-icon class="card__image" src="" alt="" />
                        <span data-temp="max" class="card__maxt"></span>
                        <span data-temp="min" class="card__mint"></span>
                        <spam data-temp="current" class="card__temp"></spam>
                    </div>
                </div>
            </template>
        </main>
    </body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/index.js"></script>
</html>
